<a href="https://colab.research.google.com/github/Pradeep24032004/data_science/blob/main/PandasBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
#pandas
#pandas generally mean(python data analysis library)
#This library is built on top of the Numpy library of python. Pandas is fast and it has high performance abd productivity of users.
#(1). Pandas is fast and efficient for manipulating and analyzing data
#(2). Data from different file objects can be easily loaded
#(3). Flexible reshaping and pivoting of data sets
#(4).Provides time-series functionality
'''
* Pandas are generally used for data science but have you wondered why?
* This is because pandas are used in conjunction with other librarires that are used for data science.
* This is built on the top of the NumPy library which means that a lot of structures of NumPy are used or replicated in Pandas.
* The data produced by Pandas are often used as input for plotting functions of Matplotlib, statistical analysis in Scipy,
and machine learning algorithms in Scikit-learn.
'''

'\n* Pandas are generally used for data science but have you wondered why?\n* This is because pandas are used in conjunction with other librarires that are used for data science.\n* This is built on the top of the NumPy library which means that a lot of structures of NumPy are used or replicated in Pandas.\n* The data produced by Pandas are often used as input for plotting functions of Matplotlib, statistical analysis in Scipy,\nand machine learning algorithms in Scikit-learn.\n'

In [62]:
#syntax for pandas
import pandas as pd
'''
Pandas Data Structures
Pandas generally provide two data structures for manipulating data, They are:
(1)Series - columns
(2)Data Frames - (columns + rows)
'''

'\nPandas Data Structures\nPandas generally provide two data structures for manipulating data, They are:\n(1)Series - columns\n(2)Data Frames - (columns + rows)\n'

In [63]:
'''
* Pandas series is a one-dimensiona; labeled array capable of holding data of any type (integer, string, float, python objects, etc.).
The axis labels are collectively called indexes.
* Pandas series is nothing but a column in an Excel sheet.
'''
import pandas as pd
ser = pd.Series(dtype = object)
ser

Series([], dtype: object)

In [64]:
#creating a series from a List
import pandas as pd
data = [1,2,3,4,5]
series_from_list = pd.Series(data)
print("series from list",series_from_list)

#creating a series with custom index using dictionary
data1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
series_from_dict = pd.Series(data1)
print("series from dictionary",series_from_dict)

series from list 0    1
1    2
2    3
3    4
4    5
dtype: int64
series from dictionary a    1
b    2
c    3
d    4
e    5
dtype: int64

In [65]:
#Data Frame
'''
In the real world, a pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database,
csv file, or an Exel File. Pandas DatFrame can be created from lists, dictionaries, and from a list of dictionaries, etc.
'''
import pandas as pd
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [66]:
#Example 1 : Creating a data frame using lists
data = [
    ['Alice',25,'New York'],
    ['Bob',30,'San Francisco'],
    ['Charlie',35,'Los Angels']
]
#custom column creation
custom_columns = ['Name','Age','City']
df = pd.DataFrame(data,columns=custom_columns)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35     Los Angels

In [67]:
#Example 2 : creating a data frame using dictionary
data1 = {
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    'City':['New York','San Francisco','Los Angeles']
}
df = pd.DataFrame(data1)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [68]:
#Example 3: creating a data frame from series(home work)

In [69]:
'''
Analyzing a DataFrame

Create a dataframe with information about sales data for a small store.
The DataFrame should include columns for "Product Name", "Price" and "Quality Sold".
Then, calculate the total revenue for each product(price * Quantity Sold) and display the DataFrame with the total revenue column added.
'''

'\nAnalyzing a DataFrame\n\nCreate a dataframe with information about sales data for a small store.\nThe DataFrame should include columns for "Product Name", "Price" and "Quality Sold".\nThen, calculate the total revenue for each product(price * Quantity Sold) and display the DataFrame with the total revenue column added.\n'

In [70]:
import pandas as pd
data = {
    'Product Name':['Product A','Product B','Product C','Product D'],
    'Price':[10.99,5.99,8.49,12.49],
    'Quantity Sold':[100,150,80,200]
}
#step 1: converting dictionary into a dataframe
sales_df = pd.DataFrame(data)
print(sales_df)
print('\n')
#step 2: calculating the total revenue
sales_df['total revenue'] = sales_df['Price']*sales_df['Quantity Sold']
print(sales_df)
sales_df['Discount'] = sales_df['Price']*0.1
print('\n')
print(sales_df)
print('\n')
sales_df['Revised_product_price_after_discount']=sales_df['Price'] - sales_df['Discount']
print(sales_df)

  Product Name  Price  Quantity Sold
0    Product A  10.99            100
1    Product B   5.99            150
2    Product C   8.49             80
3    Product D  12.49            200


  Product Name  Price  Quantity Sold  total revenue
0    Product A  10.99            100         1099.0
1    Product B   5.99            150          898.5
2    Product C   8.49             80          679.2
3    Product D  12.49            200         2498.0


  Product Name  Price  Quantity Sold  total revenue  Discount
0    Product A  10.99            100         1099.0     1.099
1    Product B   5.99            150          898.5     0.599
2    Product C   8.49             80          679.2     0.849
3    Product D  12.49            200         2498.0     1.249


  Product Name  Price  Quantity Sold  total revenue  Discount  \
0    Product A  10.99            100         1099.0     1.099
1    Product B   5.99            150          898.5     0.599
2    Product C   8.49             80          679.2     0.849
3    Product D  12.49            200         2498.0     1.249

   Revised_product_price_after_discount
0                                 9.891
1                                 5.391
2                                 7.641
3                                11.241

In [71]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [72]:
%cd /content/drive/My Drive/datascience
%pwd
%ls

/content/drive/My Drive/datascience
nba.csv  titanic.csv

In [73]:
#reading the csv file
import pandas as pd
df = pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [74]:
#overall information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [75]:
#finding the shape of the dataset
df.shape

(891, 12)

In [76]:
#finding the size of the dataset
df.size #equivalent to no of rows and no of columns

10692

In [77]:
#dimensionality of the dataset
df.ndim

2

In [78]:
#printing head and tail of the dataset
df.head(10) #gives first 10 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [79]:
#tail function
df.tail(10) #prints last 10 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [80]:
#accessing all rows except last 1o0 rows
df.head(-10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S

In [81]:
#accessing all rows except first 10 rows
df.tail(-10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [82]:
#select all rows excluding bottom 157 rows using head() function. what is the fare in the last row?
df.head(-157)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,S
731,732,0,3,"Hassan, Mr. Houssein G N",male,11.0,0,0,2699,18.7875,NaN,C
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0000,NaN,S
733,734,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S

In [83]:
#select all rows excluding top 17 rows using tail() function. what is the fare in the first row
df.tail(-17)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.225,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.000,D56,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [84]:
#describing the dataset
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [85]:
#accessing the columns of the dataset
print(df['Name'])
print('\n')
print(df['Age'])

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object


0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [86]:
#accessing multiple columns
df[['Name','Age']] #make a list of columns which are need to be accessed and pass it to df

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [87]:
#exploring max, min and mean function
print("max value of fare",df['Fare'].max())
print("min value of fare",df['Fare'].min())
print("mean value of the fare",df['Fare'].mean())
print("sum of values of fare",df['Fare'].sum())

max value of fare 512.3292
min value of fare 0.0
mean value of the fare 32.204207968574636
sum of values of fare 28693.9493

In [88]:
#finding missing values of the dataset
print(df.isna()) #is null operation
print('\n')
print("no of null values in each column ",df.isna().sum())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]


no of null values in each column  PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [89]:
#dropping the missing values from the dataset
print(df.dropna()) #dropping all the null values
print('\n')
#dropna using how parameter
print("using how=any \n",df.dropna(how='any')) #if any column in aparticular row is null then it drops the entire row
print("using how=all \n",df.dropna(how='all')) #drops all null valued columns

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]


using how=any
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]
using how=all
      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [90]:
#to permunantly manupilate the dataset
df.dropna(how='all',inplace=True) #makes permenant changes, drops all the null values
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [91]:
#find average age
df['Age'].mean()

29.69911764705882

In [92]:
#dropping a particular row syntax: df.drop(index)
print("dropping 2nd row",df.drop(2))
print("\n")
#dropping multiple rows at a time by keeping them in an array
print("dropping 2nd and 3rd row", df.drop([2,3]))

dropping 2nd row      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
3              4         1       1
4              5         0       3
5              6         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch      Ticket     Fare Cabin Embarked
0        0   A/5 21171   7.2500   NaN        S
1        0    PC 17599  71.2833   C85        C
3        0      113803  53.1000  C123        S
4        0      373450   8.0500   NaN        S
5        0      330877   8.4583   NaN        Q
..     ...         ...      ...   ...      ...
886      0      211536  13.0000   NaN        S
887      0      112053  30.0000   B42        S
888      2  W./C. 6607  23.4500   NaN        S
889      0      111369  30.0000  C148        C
890      0      370376   7.7500   NaN        Q

[890 rows x 12 columns]


dropping 2nd and 3rd row      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
4              5         0       3
5              6         0       3
6              7         0       1
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch      Ticket     Fare Cabin Embarked
0        0   A/5 21171   7.2500   NaN        S
1        0    PC 17599  71.2833   C85        C
4        0      373450   8.0500   NaN        S
5        0      330877   8.4583   NaN        Q
6        0       17463  51.8625   E46        S
..     ...         ...      ...   ...      ...
886      0      211536  13.0000   NaN        S
887      0      112053  30.0000   B42        S
888      2  W./C. 6607  23.4500   NaN        S
889      0      111369  30.0000  C148        C
890      0      370376   7.7500   NaN        Q

[889 rows x 12 columns]

In [93]:
#removing a column syntax: df.drop(column_name)
df.drop('Sibsp', axis=1, inplace=True)  #changing axis to column for row axis=0 and for column axis=1
#inplace=true removes column permenantly from the dataset

KeyError: "['Sibsp'] not found in axis"

In [94]:
#renaming the columns of the datset
df.rename(columns={'Pclass':'class'},inplace=True)
#by using inplace we change the name of column permenantly
df

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [95]:
#unique values in a column
#step1: accessing the column
df['class'].unique()

array([3, 1, 2])

In [96]:
#accessing multiple columns
df[['class','Name','Ticket']]

,class,Name,Ticket
0,3,"Braund, Mr. Owen Harris",A/5 21171
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599
2,3,"Heikkinen, Miss. Laina",STON/O2. 3101282
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803
4,3,"Allen, Mr. William Henry",373450
...,...,...,...
886,2,"Montvila, Rev. Juozas",211536
887,1,"Graham, Miss. Margaret Edith",112053
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",W./C. 6607
889,1,"Behr, Mr. Karl Howell",111369
890,3,"Dooley, Mr. Patrick",370376

In [ ]:
#count function
df['Name'].count()

In [97]:
#count the number of unique values in a column
print(df['class'].value_counts())
print("\n")
print(df['Sex'].value_counts())

class
3    491
1    216
2    184
Name: count, dtype: int64


Sex
male      577
female    314
Name: count, dtype: int64

In [98]:
# Accessing the column directly and filtering(single condition)
#filter all data where fare value is less than 100
#Step 1: accessing the column
df['Fare']
#step 2: write the condition
df['Fare'] < 100
#step 3: accessing the filtered adata
df[df['Fare'] < 100] #nested data frame used to filter the data it is nested as one data frame is inside another data frame

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [99]:
#filter out the data whose age is less than 18
df[df['Age'] < 18]

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C

In [100]:
#filter all the data where survived is 1
df[df['Survived'] == 1]

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [101]:
#filter all the data whose sex is male
df[df['Sex'] == 'male']

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [102]:
#count the number of male and female passengers
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [103]:
#count the number of classes
df['class'].value_counts()

class
3    491
1    216
2    184
Name: count, dtype: int64

In [104]:
#find the percentage of male and female
print(df['Sex'].value_counts(normalize=True))
percentage = df['Sex'].value_counts(normalize = True)
print(percentage*100)
val1 = percentage[0]
val2 = percentage[1]
print(val1)
print(val2)

Sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64
Sex
male      64.758698
female    35.241302
Name: proportion, dtype: float64
0.6475869809203143
0.35241301907968575

In [105]:
#accessing the columns directly + filtering(multiple condition)
#get the count of survived passsengers  whose gender is female
#series and series cannoted by analyzes by and operator but can be used bitwise and(&)
df[(df['Survived'] == 1) & (df['Sex'] == 'female') & (df['Age'] < 18)]

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
389,390,1,2,"Lehmann, Miss. Bertha",female,17.00,0,0,SC 1748,12.0000,NaN,C
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
446,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.00,0,1,250644,19.5000,NaN,S
448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
479,480,1,3,"Hirvonen, Miss. Hildur E",female,2.00,0,1,3101298,12.2875,NaN,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
530,531,1,2,"Quick, Miss. Phyllis May",female,2.00,1,1,26360,26.0000,NaN,S
535,536,1,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S
618,619,1,2,"Becker, Miss. Marion Louise",female,4.00,2,1,230136,39.0000,F4,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
691,692,1,3,"Karun, Miss. Manca",female,4.00,0,1,349256,13.4167,NaN,C
720,721,1,2,"Harper, Miss. Annie Jessie ""Nina""",female,6.00,0,1,248727,33.0000,NaN,S
750,751,1,2,"Wells, Miss. Joan",female,4.00,1,1,29103,23.0000,NaN,S
777,778,1,3,"Emanuel, Miss. Virginia Ethel",female,5.00,0,0,364516,12.4750,NaN,S
780,781,1,3,"Ayoub, Miss. Banoura",female,13.00,0,0,2687,7.2292,NaN,C
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C

In [106]:
#Accesing the columns direactly  + filtering(multiple condition) and accessing desired columns
print("for single column accessing \n",df[(df['Survived'] == 1) & (df['Sex'] == 'female') & (df['Age'] < 18)]['class'])
print("\n")
print("for accessing the multiple columns \n",df[(df['Survived'] == 1) & (df['Sex'] == 'female') & (df['Age'] < 18)][['class','Name']])

for single column accessing
 9      2
10     3
22     3
39     3
43     2
58     2
68     3
84     2
156    3
172    3
184    3
208    3
233    3
237    2
307    1
329    1
381    3
389    2
435    1
446    2
448    3
469    3
479    3
504    1
530    2
535    2
618    2
644    3
689    1
691    3
720    2
750    2
777    3
780    3
781    1
830    3
853    1
875    3
Name: class, dtype: int64


for accessing the multiple columns
      class                                               Name
9        2                Nasser, Mrs. Nicholas (Adele Achem)
10       3                    Sandstrom, Miss. Marguerite Rut
22       3                        McGowan, Miss. Anna "Annie"
39       3                        Nicola-Yarred, Miss. Jamila
43       2           Laroche, Miss. Simonne Marie Anne Andree
58       2                       West, Miss. Constance Mirium
68       3                    Andersson, Miss. Erna Alexandra
84       2                                Ilett, Miss. Bertha
156      3                   Gilnagh, Miss. Katherine "Katie"
172      3                       Johnson, Miss. Eleanor Ileen
184      3                Kink-Heilmann, Miss. Luise Gretchen
208      3                          Carr, Miss. Helen "Ellen"
233      3                     Asplund, Miss. Lillian Gertrud
237      2                   Collyer, Miss. Marjorie "Lottie"
307      1  Penasco y Castellana, Mrs. Victor de Satode (M...
329      1                       Hippach, Miss. Jean Gertrude
381      3                        Nakid, Miss. Maria ("Mary")
389      2                              Lehmann, Miss. Bertha
435      1                          Carter, Miss. Lucile Polk
446      2                  Mellinger, Miss. Madeleine Violet
448      3                     Baclini, Miss. Marie Catherine
469      3                      Baclini, Miss. Helene Barbara
479      3                           Hirvonen, Miss. Hildur E
504      1                              Maioni, Miss. Roberta
530      2                           Quick, Miss. Phyllis May
535      2                             Hart, Miss. Eva Miriam
618      2                        Becker, Miss. Marion Louise
644      3                             Baclini, Miss. Eugenie
689      1                  Madill, Miss. Georgette Alexandra
691      3                                 Karun, Miss. Manca
720      2                  Harper, Miss. Annie Jessie "Nina"
750      2                                  Wells, Miss. Joan
777      3                      Emanuel, Miss. Virginia Ethel
780      3                               Ayoub, Miss. Banoura
781      1          Dick, Mrs. Albert Adrian (Vera Gillespie)
830      3            Yasbeck, Mrs. Antoni (Selini Alexander)
853      1                          Lines, Miss. Mary Conover
875      3                   Najib, Miss. Adele Kiamie "Jane"

In [107]:
#access all the males who are less than 18 and their embarked should be in c
df[(df['Age'] < 18) & (df['Embarked'] == 'C') & (df['Sex'] == 'male')][['Sex','Age','Embarked']]

      Sex    Age Embarked
125  male  12.00        C
352  male  15.00        C
532  male  17.00        C
550  male  17.00        C
731  male  11.00        C
803  male   0.42        C
827  male   1.00        C

In [108]:
#access the column embarked embarked should be either c or s and count the value of the both
df['Embarked'].isin(['S','C']).value_counts() #using isin function

Embarked
True     812
False     79
Name: count, dtype: int64

In [109]:
#Accessing the columns directly + filtering(multiple condition w isin)
#Access the survived and the class should be either 1 or 2 then the age should be greater than 18
print("without using isin \n",df[((df['class'] == 1) | (df['class'] == 2)) & (df['Survived'] == 1) & (df['Age'] > 18)][['Survived','class','Age']])
print("\n")
print("by using isin \n",df[(df['class'].isin([1,2])) & (df['Survived'] == 1) & (df['Age'] > 18)][['Survived','class','Age']])

without using isin
      Survived  class   Age
1           1      1  38.0
3           1      1  35.0
11          1      1  58.0
15          1      2  55.0
21          1      2  34.0
..        ...    ...   ...
874         1      2  28.0
879         1      1  56.0
880         1      2  25.0
887         1      1  19.0
889         1      1  26.0

[168 rows x 3 columns]


by using isin
      Survived  class   Age
1           1      1  38.0
3           1      1  35.0
11          1      1  58.0
15          1      2  55.0
21          1      2  34.0
..        ...    ...   ...
874         1      2  28.0
879         1      1  56.0
880         1      2  25.0
887         1      1  19.0
889         1      1  26.0

[168 rows x 3 columns]

In [110]:
#Access the survived and the class should be either 1 or 2 then the age with only first 10 rows
print("by using isin \n",df[(df['class'].isin([1,2])) & (df['Survived'] == 1) & (df['Age'] > 18)][['Survived','class','Age']].head(10))
#Access the survived and the class should be either 1 or 2 then the age with exclude last 50 rows
print("by using isin exclude last 50 rows \n",df[(df['class'].isin([1,2])) & (df['Survived'] == 1) & (df['Age'] > 18)][['Survived','class','Age']].head(-50))
#Access the survived and the class should be either 1 or 2 then the age with exclude first 50 rows
print("by using isin exclude first 50 rows \n",df[(df['class'].isin([1,2])) & (df['Survived'] == 1) & (df['Age'] > 18)][['Survived','class','Age']].tail(-50))

by using isin
     Survived  class   Age
1          1      1  38.0
3          1      1  35.0
11         1      1  58.0
15         1      2  55.0
21         1      2  34.0
23         1      1  28.0
52         1      1  49.0
53         1      2  29.0
56         1      2  21.0
61         1      1  38.0
by using isin exclude last 50 rows
      Survived  class   Age
1           1      1  38.0
3           1      1  35.0
11          1      1  58.0
15          1      2  55.0
21          1      2  34.0
..        ...    ...   ...
608         1      2  22.0
609         1      1  40.0
615         1      2  24.0
621         1      1  42.0
627         1      1  21.0

[118 rows x 3 columns]
by using isin exclude first 50 rows
      Survived  class   Age
325         1      1  36.0
327         1      2  36.0
337         1      1  41.0
341         1      1  24.0
345         1      2  24.0
..        ...    ...   ...
874         1      2  28.0
879         1      1  56.0
880         1      2  25.0
887         1      1  19.0
889         1      1  26.0

[118 rows x 3 columns]

In [111]:
#count the no of passengers who have survived and they must belong from either S or C embarked and their fare should be less than 100
df[(df['Embarked'].isin(['S','C'])) & (df['Survived'] == 1) & (df['Fare'] < 100)][['Survived','Embarked','Fare']].count()

Survived    271
Embarked    271
Fare        271
dtype: int64

In [112]:
#Accessing the columns directly + filtering + sorting
#count the no of passengers who have survived and they must belong from either S or C embarked and their fare should be less than 100
df[(df['Embarked'].isin(['S','C'])) & (df['Survived'] == 1) & (df['Fare'] < 100)][['Survived','Embarked','Fare']].sort_values(by = 'Fare')

     Survived Embarked     Fare
271         1        S   0.0000
804         1        S   6.9750
127         1        S   7.1417
553         1        C   7.2250
875         1        C   7.2250
..        ...      ...      ...
486         1        S  90.0000
291         1        C  91.0792
484         1        C  91.0792
520         1        S  93.5000
820         1        S  93.5000

[271 rows x 3 columns]

In [113]:
#count the no of passengers who have survived and they must belong from either S or C embarked and their fare should be less than 100 and get top 20 rows
df[(df['Embarked'].isin(['S','C'])) & (df['Survived'] == 1) & (df['Fare'] < 100)][['Survived','Embarked','Fare']].sort_values(by = 'Fare').head(20)

     Survived Embarked    Fare
271         1        S  0.0000
804         1        S  6.9750
127         1        S  7.1417
553         1        C  7.2250
875         1        C  7.2250
19          1        C  7.2250
762         1        C  7.2292
780         1        C  7.2292
36          1        C  7.2292
367         1        C  7.2292
376         1        S  7.2500
786         1        S  7.4958
649         1        S  7.5500
106         1        S  7.6500
141         1        S  7.7500
107         1        S  7.7750
554         1        S  7.7750
267         1        S  7.7750
146         1        S  7.7958
391         1        S  7.7958

In [114]:
#sorting in descending order
df[(df['Embarked'].isin(['S','C'])) & (df['Survived'] == 1) & (df['Fare'] < 100)][['Survived','Embarked','Fare']].sort_values(by = 'Fare',ascending = False)

     Survived Embarked     Fare
520         1        S  93.5000
820         1        S  93.5000
291         1        C  91.0792
484         1        C  91.0792
224         1        S  90.0000
..        ...      ...      ...
875         1        C   7.2250
19          1        C   7.2250
127         1        S   7.1417
804         1        S   6.9750
271         1        S   0.0000

[271 rows x 3 columns]

In [115]:
#sorting in descending  and excluding last 50 rows
df[(df['Embarked'].isin(['S','C'])) & (df['Survived'] == 1) & (df['Fare'] < 100)][['Survived','Embarked','Fare']].sort_values(by = 'Fare',ascending = False).head(-50)

     Survived Embarked     Fare
520         1        S  93.5000
820         1        S  93.5000
291         1        C  91.0792
484         1        C  91.0792
224         1        S  90.0000
..        ...      ...      ...
717         1        S  10.5000
570         1        S  10.5000
84          1        S  10.5000
226         1        S  10.5000
66          1        S  10.5000

[221 rows x 3 columns]

In [116]:
#passengers who are dead their sex has to be female and age has to be > 18 and sort the age in a descending order
df[(df['Survived']==0) & (df['Age'] > 18) & (df['Sex'] == 'female')].sort_values(by = 'Age',ascending=False)

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
736,737,0,3,"Ford, Mrs. Edward (Margaret Ann Watson)",female,48.0,1,3,W./C. 6608,34.3750,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
678,679,0,3,"Goodwin, Mrs. Frederick (Augusta Tyler)",female,43.0,1,6,CA 2144,46.9000,NaN,S
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
610,611,0,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1,5,347082,31.2750,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S
503,504,0,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S
657,658,0,3,"Bourke, Mrs. John (Catherine)",female,32.0,1,1,364849,15.5000,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
396,397,0,3,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
767,768,0,3,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,Q
534,535,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
799,800,0,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S
567,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S
617,618,0,3,"Lobb, Mrs. William Arthur (Cordelia K Stanlick)",female,26.0,1,0,A/5. 3336,16.1000,NaN,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",female,25.0,1,0,STON/O2. 3101271,7.9250,NaN,S
293,294,0,3,"Haas, Miss. Aloisia",female,24.0,0,0,349236,8.8500,NaN,S
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0000,NaN,S
816,817,0,3,"Heininen, Miss. Wendla Maria",female,23.0,0,0,STON/O2. 3101290,7.9250,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.0,1,0,4137,9.8250,NaN,S
501,502,0,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q
436,437,0,3,"Ford, Miss. Doolina Margaret ""Daisy""",female,21.0,2,2,W./C. 6608,34.3750,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.0,0,0,315096,8.6625,NaN,S

In [117]:
#sorting the values in series
print("data type ",type(df['Age']))
#sorting by series
print("sort by age",df['Age'].sort_values(axis=0))

data type  <class 'pandas.core.series.Series'>
sort by age 803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: Age, Length: 891, dtype: float64

In [119]:
#loc and iloc function (Index lock function) here location is loc
#syntax:  df.loc[strt_index:stop_index(rows):stepsize, column_name]
#syntax:  df.iloc[strt_index:stop_index(rows):stepsize,strt_index:stop_index(columns):stepsize]
df.loc[10:20:2]  #to access a particular location data

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S

In [123]:
#accessing all rows from 50 to 100 and specified columns
df.loc[50:100,['Name','Age','Fare']]

                                                  Name    Age      Fare
50                          Panula, Master. Juha Niilo   7.00   39.6875
51                        Nosworthy, Mr. Richard Cater  21.00    7.8000
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.00   76.7292
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  29.00   26.0000
54                      Ostby, Mr. Engelhart Cornelius  65.00   61.9792
55                                   Woolner, Mr. Hugh    NaN   35.5000
56                                   Rugg, Miss. Emily  21.00   10.5000
57                                 Novel, Mr. Mansouer  28.50    7.2292
58                        West, Miss. Constance Mirium   5.00   27.7500
59                  Goodwin, Master. William Frederick  11.00   46.9000
60                               Sirayanian, Mr. Orsen  22.00    7.2292
61                                 Icard, Miss. Amelie  38.00   80.0000
62                         Harris, Mr. Henry Birkhardt  45.00   83.4750
63                               Skoog, Master. Harald   4.00   27.9000
64                               Stewart, Mr. Albert A    NaN   27.7208
65                            Moubarek, Master. Gerios    NaN   15.2458
66                        Nye, Mrs. (Elizabeth Ramell)  29.00   10.5000
67                            Crease, Mr. Ernest James  19.00    8.1583
68                     Andersson, Miss. Erna Alexandra  17.00    7.9250
69                                   Kink, Mr. Vincenz  26.00    8.6625
70                          Jenkin, Mr. Stephen Curnow  32.00   10.5000
71                          Goodwin, Miss. Lillian Amy  16.00   46.9000
72                                Hood, Mr. Ambrose Jr  21.00   73.5000
73                         Chronopoulos, Mr. Apostolos  26.00   14.4542
74                                       Bing, Mr. Lee  32.00   56.4958
75                             Moen, Mr. Sigurd Hansen  25.00    7.6500
76                                   Staneff, Mr. Ivan    NaN    7.8958
77                            Moutal, Mr. Rahamin Haim    NaN    8.0500
78                       Caldwell, Master. Alden Gates   0.83   29.0000
79                            Dowdell, Miss. Elizabeth  30.00   12.4750
80                                Waelens, Mr. Achille  22.00    9.0000
81                         Sheerlinck, Mr. Jan Baptist  29.00    9.5000
82                      McDermott, Miss. Brigdet Delia    NaN    7.7875
83                             Carrau, Mr. Francisco M  28.00   47.1000
84                                 Ilett, Miss. Bertha  17.00   10.5000
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  33.00   15.8500
86                              Ford, Mr. William Neal  16.00   34.3750
87                       Slocovski, Mr. Selman Francis    NaN    8.0500
88                          Fortune, Miss. Mabel Helen  23.00  263.0000
89                              Celotti, Mr. Francesco  24.00    8.0500
90                                Christmann, Mr. Emil  29.00    8.0500
91                          Andreasson, Mr. Paul Edvin  20.00    7.8542
92                         Chaffee, Mr. Herbert Fuller  46.00   61.1750
93                             Dean, Mr. Bertram Frank  26.00   20.5750
94                                   Coxon, Mr. Daniel  59.00    7.2500
95                         Shorney, Mr. Charles Joseph    NaN    8.0500
96                           Goldschmidt, Mr. George B  71.00   34.6542
97                     Greenfield, Mr. William Bertram  23.00   63.3583
98                Doling, Mrs. John T (Ada Julia Bone)  34.00   23.0000
99                                   Kantor, Mr. Sinai  34.00   26.0000
100                            Petranec, Miss. Matilda  28.00    7.8958

In [125]:
#access the rows from 50 to 100 and use iloc function
df.iloc[50:100, [3,5,8]]

                                                 Name    Age           Ticket
50                         Panula, Master. Juha Niilo   7.00          3101295
51                       Nosworthy, Mr. Richard Cater  21.00       A/4. 39886
52           Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.00         PC 17572
53  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  29.00             2926
54                     Ostby, Mr. Engelhart Cornelius  65.00           113509
55                                  Woolner, Mr. Hugh    NaN            19947
56                                  Rugg, Miss. Emily  21.00       C.A. 31026
57                                Novel, Mr. Mansouer  28.50             2697
58                       West, Miss. Constance Mirium   5.00       C.A. 34651
59                 Goodwin, Master. William Frederick  11.00          CA 2144
60                              Sirayanian, Mr. Orsen  22.00             2669
61                                Icard, Miss. Amelie  38.00           113572
62                        Harris, Mr. Henry Birkhardt  45.00            36973
63                              Skoog, Master. Harald   4.00           347088
64                              Stewart, Mr. Albert A    NaN         PC 17605
65                           Moubarek, Master. Gerios    NaN             2661
66                       Nye, Mrs. (Elizabeth Ramell)  29.00       C.A. 29395
67                           Crease, Mr. Ernest James  19.00        S.P. 3464
68                    Andersson, Miss. Erna Alexandra  17.00          3101281
69                                  Kink, Mr. Vincenz  26.00           315151
70                         Jenkin, Mr. Stephen Curnow  32.00       C.A. 33111
71                         Goodwin, Miss. Lillian Amy  16.00          CA 2144
72                               Hood, Mr. Ambrose Jr  21.00     S.O.C. 14879
73                        Chronopoulos, Mr. Apostolos  26.00             2680
74                                      Bing, Mr. Lee  32.00             1601
75                            Moen, Mr. Sigurd Hansen  25.00           348123
76                                  Staneff, Mr. Ivan    NaN           349208
77                           Moutal, Mr. Rahamin Haim    NaN           374746
78                      Caldwell, Master. Alden Gates   0.83           248738
79                           Dowdell, Miss. Elizabeth  30.00           364516
80                               Waelens, Mr. Achille  22.00           345767
81                        Sheerlinck, Mr. Jan Baptist  29.00           345779
82                     McDermott, Miss. Brigdet Delia    NaN           330932
83                            Carrau, Mr. Francisco M  28.00           113059
84                                Ilett, Miss. Bertha  17.00       SO/C 14885
85  Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  33.00          3101278
86                             Ford, Mr. William Neal  16.00       W./C. 6608
87                      Slocovski, Mr. Selman Francis    NaN  SOTON/OQ 392086
88                         Fortune, Miss. Mabel Helen  23.00            19950
89                             Celotti, Mr. Francesco  24.00           343275
90                               Christmann, Mr. Emil  29.00           343276
91                         Andreasson, Mr. Paul Edvin  20.00           347466
92                        Chaffee, Mr. Herbert Fuller  46.00      W.E.P. 5734
93                            Dean, Mr. Bertram Frank  26.00        C.A. 2315
94                                  Coxon, Mr. Daniel  59.00           364500
95                        Shorney, Mr. Charles Joseph    NaN           374910
96                          Goldschmidt, Mr. George B  71.00         PC 17754
97                    Greenfield, Mr. William Bertram  23.00         PC 17759
98               Doling, Mrs. John T (Ada Julia Bone)  34.00           231919
99                                  Kantor, Mr. Sinai  34.00           244367

In [127]:
#accessing all rows and columns indexing from 4 to 8
df.iloc[50:100,4:9]

       Sex    Age  SibSp  Parch           Ticket
50    male   7.00      4      1          3101295
51    male  21.00      0      0       A/4. 39886
52  female  49.00      1      0         PC 17572
53  female  29.00      1      0             2926
54    male  65.00      0      1           113509
55    male    NaN      0      0            19947
56  female  21.00      0      0       C.A. 31026
57    male  28.50      0      0             2697
58  female   5.00      1      2       C.A. 34651
59    male  11.00      5      2          CA 2144
60    male  22.00      0      0             2669
61  female  38.00      0      0           113572
62    male  45.00      1      0            36973
63    male   4.00      3      2           347088
64    male    NaN      0      0         PC 17605
65    male    NaN      1      1             2661
66  female  29.00      0      0       C.A. 29395
67    male  19.00      0      0        S.P. 3464
68  female  17.00      4      2          3101281
69    male  26.00      2      0           315151
70    male  32.00      0      0       C.A. 33111
71  female  16.00      5      2          CA 2144
72    male  21.00      0      0     S.O.C. 14879
73    male  26.00      1      0             2680
74    male  32.00      0      0             1601
75    male  25.00      0      0           348123
76    male    NaN      0      0           349208
77    male    NaN      0      0           374746
78    male   0.83      0      2           248738
79  female  30.00      0      0           364516
80    male  22.00      0      0           345767
81    male  29.00      0      0           345779
82  female    NaN      0      0           330932
83    male  28.00      0      0           113059
84  female  17.00      0      0       SO/C 14885
85  female  33.00      3      0          3101278
86    male  16.00      1      3       W./C. 6608
87    male    NaN      0      0  SOTON/OQ 392086
88  female  23.00      3      2            19950
89    male  24.00      0      0           343275
90    male  29.00      0      0           343276
91    male  20.00      0      0           347466
92    male  46.00      1      0      W.E.P. 5734
93    male  26.00      1      2        C.A. 2315
94    male  59.00      0      0           364500
95    male    NaN      0      0           374910
96    male  71.00      0      0         PC 17754
97    male  23.00      0      1         PC 17759
98  female  34.00      0      1           231919
99    male  34.00      1      0           244367

In [128]:
df.loc[250:300,['PassengerId','class','Age']]

     PassengerId  class   Age
250          251      3   NaN
251          252      3  29.0
252          253      1  62.0
253          254      3  30.0
254          255      3  41.0
255          256      3  29.0
256          257      1   NaN
257          258      1  30.0
258          259      1  35.0
259          260      2  50.0
260          261      3   NaN
261          262      3   3.0
262          263      1  52.0
263          264      1  40.0
264          265      3   NaN
265          266      2  36.0
266          267      3  16.0
267          268      3  25.0
268          269      1  58.0
269          270      1  35.0
270          271      1   NaN
271          272      3  25.0
272          273      2  41.0
273          274      1  37.0
274          275      3   NaN
275          276      1  63.0
276          277      3  45.0
277          278      2   NaN
278          279      3   7.0
279          280      3  35.0
280          281      3  65.0
281          282      3  28.0
282          283      3  16.0
283          284      3  19.0
284          285      1   NaN
285          286      3  33.0
286          287      3  30.0
287          288      3  22.0
288          289      2  42.0
289          290      3  22.0
290          291      1  26.0
291          292      1  19.0
292          293      2  36.0
293          294      3  24.0
294          295      3  24.0
295          296      1   NaN
296          297      3  23.5
297          298      1   2.0
298          299      1   NaN
299          300      1  50.0
300          301      3   NaN

In [129]:
#by using iloc access all the rows from 500 to 525 and columns are survived name and age
df.iloc[500:525,1:6:2]

     Survived                                               Name   Age
500         0                                   Calic, Mr. Petar  17.0
501         0                                Canavan, Miss. Mary  21.0
502         0                     O'Sullivan, Miss. Bridget Mary   NaN
503         0                     Laitinen, Miss. Kristina Sofia  37.0
504         1                              Maioni, Miss. Roberta  16.0
505         0         Penasco y Castellana, Mr. Victor de Satode  18.0
506         1      Quick, Mrs. Frederick Charles (Jane Richards)  33.0
507         1      Bradley, Mr. George ("George Arthur Brayton")   NaN
508         0                           Olsen, Mr. Henry Margido  28.0
509         1                                     Lang, Mr. Fang  26.0
510         1                           Daly, Mr. Eugene Patrick  29.0
511         0                                  Webber, Mr. James   NaN
512         1                          McGough, Mr. James Robert  36.0
513         1     Rothschild, Mrs. Martin (Elizabeth L. Barrett)  54.0
514         0                                  Coleff, Mr. Satio  24.0
515         0                       Walker, Mr. William Anderson  47.0
516         1                       Lemore, Mrs. (Amelia Milley)  34.0
517         0                                  Ryan, Mr. Patrick   NaN
518         1  Angle, Mrs. William A (Florence "Mary" Agnes H...  36.0
519         0                                Pavlovic, Mr. Stefo  32.0
520         1                              Perreault, Miss. Anne  30.0
521         0                                    Vovk, Mr. Janko  22.0
522         0                                 Lahoud, Mr. Sarkis   NaN
523         1    Hippach, Mrs. Louis Albert (Ida Sophia Fischer)  44.0
524         0                                  Kassem, Mr. Fared   NaN

In [139]:
#adding a new column and assigning values to it
df.dropna(inplace = True)
df['Discounted_price'] = df['Fare'] * 0.10 #Discounted_price column is added
df['Fare_after_discount'] = df['Fare'] - df['Discounted_price']
df

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Discounted_price,Fare_after_discount
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,7.12833,64.15497
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5.31000,47.79000
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,5.18625,46.67625
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1.67000,15.03000
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,2.65500,23.89500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,5.25542,47.29878
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0.50000,4.50000
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,8.31583,74.84247
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,3.00000,27.00000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,3.00000,27.00000

In [140]:
#dropping a particular column
df.drop('Fare_after_discount',axis = 1,inplace = True)
df

,PassengerId,Survived,class,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Discounted_price
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,7.12833
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5.31000
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,5.18625
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1.67000
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,2.65500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,5.25542
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0.50000
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,8.31583
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,3.00000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,3.00000

In [145]:
#Group by function and this function is used to group data in collections
print("to access all columns count \n",df.groupby(by = 'Sex').count())
print("to access the specified columns \n",df.groupby(by = 'Sex')['class'].count())

to access all columns count
         PassengerId  Survived  class  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex
female           88        88     88    88   88     88     88      88    88
male             95        95     95    95   95     95     95      95    95

        Cabin  Embarked  Discounted_price
Sex
female     88        88                88
male       95        95                95
to access the specified columns
 Sex
female    88
male      95
Name: class, dtype: int64

In [146]:
#using aggregation function
df.groupby(by = 'Embarked')['Fare'].agg(['max','min','mean'])

               max     min        mean
Embarked
C         512.3292  12.875  103.342503
Q          90.0000  90.000   90.000000
S         263.0000   0.000   64.669216

In [147]:
#grouping by multiple columns
df.groupby(by = ['class','Sex']).count()

              PassengerId  Survived  Name  Age  SibSp  Parch  Ticket  Fare  \
class Sex
1     female           74        74    74   74     74     74      74    74
      male             84        84    84   84     84     84      84    84
2     female            9         9     9    9      9      9       9     9
      male              6         6     6    6      6      6       6     6
3     female            5         5     5    5      5      5       5     5
      male              5         5     5    5      5      5       5     5

              Cabin  Embarked  Discounted_price
class Sex
1     female     74        74                74
      male       84        84                84
2     female      9         9                 9
      male        6         6                 6
3     female      5         5                 5
      male        5         5                 5

In [148]:
#find average of age, Fare as count and passenger id as count group by class and sex
df.groupby(by = ['class','Sex']).agg({'Age':'mean','Fare':'sum','PassengerId':'count'})

                    Age       Fare  PassengerId
class Sex
1     female  34.094595  7631.4875           74
      male    40.671667  6380.4626           84
2     female  29.611111   133.7917            9
      male    18.750000   142.8750            6
3     female  17.200000    66.8000            5
      male    24.800000    43.4750            5